# **FUNCTIONS**

In [ ]:
def avg(n1,n2,n3):
  return (n1+n2+n3)/3.0
#FUNCTION CALL
result=avg(10,20,30)
print(result)

20.0

In [ ]:
def displayHello():
     print("***********************")
     print("Hello World")
     print("**********************")
 #function call
displayHello()

***********************
Hello World
**********************

In [ ]:
#function definition
def maxmin(num_list):
	  return(max(num_list), min(num_list))
#main
marks = [45,30,67,88,12]
highlowmarks = maxmin(marks)
print("Highest is {0} and lowest is {1}".format(highlowmarks[0], highlowmarks[1]))

Highest is 88 and lowest is 12

### Actual and Formal arguments

In [ ]:
def ordered(n1, n2):        #FORMAL ARGUMENTS(when we define a function)
       return(n1 < n2)
num1 = int(input("Enter your age"))
num2 = int(input("Enter your brother’s age"))
if ordered(num1, num2):                #Actual arguments(when we call a function)
    print("He is your elder brother")
elif ordered(num2, num1):
   print("He is your younger brother")
else:
  print("Are you twins?")

Enter your age19
Enter your brother’s age20
He is your elder brother

### Mutable Arguments

In [ ]:
def change(nums):
  for k in range(0,len(nums)):
    if nums[k]<0:
      nums[k]=0
  return(nums)
#replace all negative numbers in a list by zero using a function
nums=[5,-2,9,4,-6,1]
print(nums)
total=change(nums)
print(total)
print(nums)

[5, -2, 9, 4, -6, 1]
[5, 0, 9, 4, 0, 1]
[5, 0, 9, 4, 0, 1]

#Variable Scope

###Local Scope:

In [ ]:
def func1():
          n = 10
          print( "n in func 1", n)
def func2():
          n = 20
          print("n in func2 is", n)
          func1()
          print("n in func2 is", n)
func2()

n in func2 is 20
n in func 1 10
n in func2 is 20

###Global Variable

In [ ]:
max = 100       #global scope of a variable
def func1():
    print(max)
def func2():
    max=2
    print(max)
func1()
func2()

100
2

###Lambda Functions

In [ ]:
a = lambda x, y : x + y
print('Sum=', a(3,5))

Sum= 8

In [ ]:
2 + ‘3’

SyntaxError: ignored

In [ ]:
st[0]

NameError: ignored

In [ ]:
fh = open("/content/drive/MyDrive/Ashri Das/textfile.txt", "r") #read-only mode
content = fh.read()
print("--- Mode1 (the whole file in a string) ---")
print(content)
fh.close()
print("")
print("--- Mode2 (line by line) ---")
with open("/content/drive/MyDrive/Ashri Das/textfile.txt","r") as f:
    print("Line1: ", f.readline(), end = "")
    print("Line2: ", f.readline(), end = "")
print("")
print("--- Mode3 (all lines as a list) ---")
with open("/content/drive/MyDrive/Ashri Das/textfile.txt","r") as f:
    print(f.readlines())
print("")
print("--- Mode4 (as a stream) ---")
with open("/content/drive/MyDrive/Ashri Das/textfile.txt","r") as f:
    for line in f:
        print(line, end = "")

--- Mode1 (the whole file in a string) ---


--- Mode2 (line by line) ---
Line1:  Line2:
--- Mode3 (all lines as a list) ---
[]

--- Mode4 (as a stream) ---

In [ ]:
input_file = open('/content/drive/MyDrive/studinput.txt', 'r')
empty_str = ""
line = input_file.readline()
while line != empty_str:
        print(line)
        line = input_file.readline()
input_file.close()

Python is the modern day language

I like learning python

It is a trending language

In [ ]:
fileptr = open("/content/drive/MyDrive/studinput.txt","w");
fileptr.write("Python is the modern day language\nI like learning python\nIt is a trending language")
fileptr.close()

###APPENDING DATA

In [ ]:
fileptr = open("/content/drive/MyDrive/studinput.txt","a");
fileptr.write("Python is the Powerful language")
fileptr.close()

###EXERCISE PROBLEMS

ex problem 1) copy the contents of a file called input.txt to a file called output.txt

In [ ]:
input_file=open("/content/drive/MyDrive/Input.txt","r")
output_file=open("/content/drive/MyDrive/Colab Notebooks/Output.txt","w")
empty_str=""
line=input_file.readline()
while line!=empty_str:
  output_file.write(line)
  line=input_file.readline()
output_file.close()
input_file.close()

ex problem 2) Write a Python program to print the number of words in each line of a text file.

In [ ]:
empty_str = ""
inpf = open("/content/drive/MyDrive/Colab Notebooks/python", 'r')
line = inpf.readline()
while line != empty_str:
    print(line)
    nwords = 0
    for i in range(0,len(line)):
        if line[i] == ' ':
            nwords = nwords + 1

    nwords = nwords + 1
    print('No. of words is ', nwords)
    line = inpf.readline()

Google colab

No. of words is  3
Module 1

No. of words is  2
Module 2

No. of words is  2
Module 3

No. of words is  2

ex problem 3) Write a program to read student data stored in a file called studinput.txt with the details StudentName   IdNo   Age   Mark1 Mark2. The program should then calculate the total  for each student. Write the details with the total into an output file called studoutput.txt<br>
Studinput.txt<br>
John 2016 23 56 78<br>
Jerry 2016  10 45 23

In [ ]:
inp = open("/content/drive/MyDrive/studinput.txt",'r')
outp = open("/content/drive/MyDrive/studoutput.txt",'w')
empty_str = ""
student = []
line = inp.readline()
line = line.rstrip()
while line != empty_str:
    details = line.split()  #split the string read from  the file into a list

    student.append(details)  #append this to the list student

    line = inp.readline()
    line = line.rstrip()
for i in range(0,len(student)):
         name,id,age,m1,m2 = student[i]  #unpack the list items
         total = int(m1) + int(m2)
         student[i].append(str(total)) #append total to the list

         s = ' '.join(student[i])      #convert the list to a string with space as
                                                      #separator

         outp.write(s + '\n')  # write the string into the file with \n at the
                                                # end
inp.close()
outp.close()

ValueError: ignored